body {
    background-color: #cdecf2;
  text-transform: uppercase;
}

@font-face {
    font-family: 'Roboto Mono';
    font-weight: normal;
    font-style: normal;
}

html, body, div, canvas {
    margin: 0;
    padding: 0;
}

.controls {
  position: absolute;
  top: 0;
  left: 0;
}

button {
  height: 3em;
  width: 6em;
  margin: 1em;
  font-weight: bold;
  font-size: 0.75em;
  text-transform: uppercase;
  cursor: pointer;
  color: white;
  border: 1px solid white;
  background-color: black;
}

input {
  height: 3em;
  width: 12.75em;
  margin: 0.5em;
  margin-left: 1em;
  padding-left: 0.75em;
  padding-right: 0.5em;
      display: block;

    font-family: Roboto Mono, Monaco, monospace;
  font-size: 0.75em;
  text-transform: uppercase;
  cursor: pointer;
  color: white;
  border: 1px solid white;
  background-color: black;
}

button:hover {
  color: black;
  background-color: #00baff;
}

button:focus {
  border: 1px solid #00baff;
}

button:active {
  background-color: #1f1f1f;
  color: white;
}